@use "~vue-material/dist/vue-material.min";
@use "~vue-material/dist/theme/default";
@use "./datepicker";

@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: #50b053,
  accent: #5350b0,
  background-variant: #eee,
  text-primary-on-primary: #fff,
  text-primary-on-background-variant: #333,
));

@import "~vue-material/dist/components/MdContent/theme";
@import "~vue-material/dist/components/MdButton/theme";
@import "~vue-material/dist/components/MdField/theme";
@import "~vue-material/dist/components/MdIcon/theme";
@import "~vue-material/dist/components/MdSnackbar/theme";
@import "~vue-material/dist/components/MdTable/theme";
@import "~vue-material/dist/components/MdEmptyState/theme";
@import "~vue-material/dist/components/MdMenu/theme";
@import "~vue-material/dist/components/MdList/theme";
@import "~vue-material/dist/components/MdProgress/theme";
@import "~vue-material/dist/components/MdDialog/theme";
@import "~vue-material/dist/components/MdAutocomplete/theme";


// Global redefinitions

.md-field.md-theme-default {
  &::after {
    background: #ccc;
  }

  label {
    color: #999;
  }
}

.md-input {
  max-width: 100%;
}

.md-menu-content {
  z-index: 150;
}

.md-snackbar.md-theme-default.error-snackbar {
  background: #a00;
}
